/* Home Page */


@font-face {
    font-family: custom_font;
    src:url(Fonts/too_cute.ttf);
}

.login_signup_container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

.login_signup_container .btn {
    text-decoration: none;
    text-align: center;
    padding-top: 5px;
    padding: 20px;
    width: 90%;
    height: 100%;
    mix-blend-mode: screen;
    background: rgba(232, 86, 113, 0.4);
    border-radius: 40px;
    cursor: pointer;
    font-size: 25px;
    color: white;
    display: block;
    line-height: 25px;
    white-space: nowrap;
    margin-right: 10px;
}

.header {
    position: absolute;
    top: 25%;
    display: block;
    white-space: nowrap;
}

.languages {
    position: absolute;
    display: block;
    white-space: nowrap;
    top: 45%;
}

.languages .btn{
    text-align: center;
    padding-top: 5px;
    padding: 10px;
    width: 100px;
    height: 100px;
    color: rgb(255, 255, 255);
    background: rgba(255, 49, 49, 0.632);
    backdrop-filter: blur(5px);
    text-decoration: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 45px;
    mix-blend-mode: screen;
    display: block;
    white-space: nowrap;
    margin: 10px;
    display: inline-block;
    line-height: 90px;
}

.select {
    position: absolute;
    top: 65%;
    display: block;
    white-space: nowrap;
    font-weight: 100;
}



/* Login Page */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "custom_font";
    color: white;
    font-weight: 100;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Images/Doom.jpg') no-repeat;
    background-size: cover;
}

.wrapper {
    width: 500px;
    background: transparent;
    border: 2px solid rgba(146, 99, 143, 0.408);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 70px;
    text-align: center;
}

.wrapper .input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input_box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 25px;
    color: #fff;
    padding: 27px 45px 20px 20px;
}

.input_box input::placeholder {
    color: #fff;
}

.input_box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember_forgot {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: -10px 0 15px;
}

.remember_forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember_forgot a {
    color: #fff;
    text-decoration: none;
}

.remember_forgot a::hover {
    text-decoration: underline;
}

.wrapper .btn {
    color: white;
    position: relative;
    width: 40%;
    height: 90px;
    background-color: rgba(255, 124, 148, 0.356);
    text-align: center;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(62, 14, 50, 0.474);
    cursor: pointer;
    font-size: 40px;
    display: block;
    margin: 0 auto;
}

.wrapper .regular_link {
    font-size: 20px;
    text-align: center;
    margin: 20px 0 15px;
}

.regular_link p a {
    color: #fff;
    text-decoration: none;
}

.regular_link p a:hover {
    text-decoration: underline;
}

.wrapper .home {
    font-size: 30px;
    text-decoration: none;
    text-align: center;
}

.wrapper .home a {
    text-decoration: none;
}

.wrapper .home:hover {
    text-decoration: underline;
}
