html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; 
  overflow-y: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Secret Midnight';
  src: url('/Fonts/secret-midnight.otf') format('opentype');
}

@font-face {
  font-family: 'Beowulf Modern';
  src: url('/Fonts/BEOWULF_MODERN.ttf') format('truetype');
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  color: #ffffff;
  text-shadow:
    0 0 5px #ffffff,
    0 0 30px #ffffff; 
}

h1 {
  background-color: transparent;
  color: white;
  font-family: 'Secret Midnight';
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes film-scratch {
  0% { transform: translate(0%, 0%); }
  20% { transform: translate(-5%, 5%); }
  40% { transform: translate(-5%, -5%); }
  60% { transform: translate(5%, 5%); }
  80% { transform: translate(5%, -5%); }
  100% { transform: translate(0%, 0%); }
}

.video-background {
  position: fixed;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

/* App */

.app-wrapper::before {
  content: "";
  position: fixed;
  top: -10%; 
  left: -10%; 

  width: 120%; 
  height: 120%;
  background-image: url('/Images/Other/Static.png');
  background-size: 200px 200px;

  background-repeat: repeat;
  pointer-events: none;
  z-index: 20;
  mix-blend-mode: overlay;

  opacity: 0.9;
  animation: film-scratch 0.4s steps(2) infinite;
  will-change: transform;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;
  position: relative;

  z-index: 2;
  margin: 0;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden; 
}

/* App */

/* Navbar */

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 10;

  gap: 30px;
  padding: 50px 50px;
  width: 100%;
  box-sizing: border-box;

  position: absolute;
  top: 0;
}

/* Navbar */

/* Login */

.login-container {
  padding-top: 200px;
}

/* Login */

/* Register */

.register-input {
  position: relative;
}

.register-container, .login-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.849);
  font-size: 1.6rem;
  min-height: 65vh;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  width: 60%;
  box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.8),      
    0 0 50px rgba(255, 255, 255, 0.5),      
    inset 0 0 20px rgba(255, 255, 255, 0.6);
}

.register-input input::placeholder, .register-input input,
.login-container input::placeholder, .login-input input {
  background-color: transparent;
  font-family: 'Secret Midnight';
  text-indent: 30px;
  line-height: 2.5rem;
  font-size: 1.6rem;
  color: white;
  padding: 15px 10px 15px 0px;
  border-radius: 15px;
  margin: 15px;
  text-shadow: 0 0 10px #ffffff;
  box-sizing: border-box;
  box-shadow: 
    0 0 15px rgba(255, 255, 255, 0.6);
}

.register-input input, .login-input input {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

.register-creds-list, .login-creds-list {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Register */

/* Donate */

.donate-container {
  margin-top: 200px;
}

/* Donate */

/* Register error popup */

@keyframes popupFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-50%) scale(0.9);
        filter: blur(4px); 
    }
    100% {
        opacity: 1;
        transform: translateY(-50%) scale(1);
        filter: blur(0px);
    }
}

.live-error-popup {
  position: absolute;
  left: 105%; 
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 77, 77, 0.1);
  border: 1px solid #ff4d4d;
  color: #ffffff;
  text-shadow: 0 0 10px #ff5f5f, 0 0 20px #ff0000;
  box-shadow: 
    0 0 10px rgba(255, 55, 55, 0.8),      
    0 0 20px rgba(255, 95, 95, 0.5),      
    inset 0 0 15px rgba(255, 78, 78, 0.6);
  
  font-family: 'Beowulf Modern';
  font-size: 30px;
  letter-spacing: 1px;
  
  padding: 15px 25px;
  border-radius: 10px;
  z-index: 10;
  animation: popupFadeIn 0.5s ease-out forwards;

  max-width: 500px;
  width: max-content;
  white-space: normal;
  line-height: 1.4;
}

.live-error-popup::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    border-width: 6px;
    border-style: solid;
    border-color: transparent #ff4d4d transparent transparent;
}

/* Register error popup */

/* Practice */

.practice-container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  padding-top: 200px;
}

.practice-container h1 {
  font-family: 'Beowulf Modern';
  font-size: 3rem; 
  color: #ffffff;
  text-shadow:
    0 0 5px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255); 
  letter-spacing: 2px;
  text-align: center;
}

.practice-container .skills-container {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.practice-container h1 {
  padding-bottom: 30px;
  width: 70%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
}

/* Practice */

/* Neon Button */

.neon-button {
  background-color: #000000cb;
  color: #ffffff;
  border: 2px solid #ffffff; 
  border-radius: 20px;
  padding: 30px 30px;
  margin: 30px;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Secret Midnight';
  text-decoration: none;
  z-index: 1;
  
  transform: scale(1.0);
  transition: transform 0.5s ease-in-out;

  text-shadow: 
    0 0 10px #ffffff;

  box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.8),      
    0 0 20px rgba(255, 255, 255, 0.5),      
    inset 0 0 15px rgba(255, 255, 255, 0.6);
  transition: all 0.3s ease-in-out;
}

.neon-button:hover,
.navbar-container .neon-button:hover {
  transform: scale(1.1);
  background-color: #000000cb;
  box-shadow: 
    0 0 20px rgba(255, 0, 255, 1), 
    0 0 40px rgba(255, 0, 255, 0.8), 
    inset 0 0 20px rgba(255, 0, 255, 0.8);
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

.navbar-container .neon-button {
  font-size: 1.3rem;
  padding: 10px 20px;
  border-radius: 15px;
  margin: 5px;
}

.neon-button.google-login {
  margin-top: 0px; 
  border-color: #9cbbec; 
  text-shadow: 0 0 10px #4285F4;
  
  box-shadow: 
    0 0 15px rgb(66, 134, 244),       
    inset 0 0 30px rgb(94, 151, 243);
}

.neon-button.google-button:hover {
  background-color: #000000cb;
  
  box-shadow: 
    0 0 20px rgba(66, 133, 244, 0.8), 
    0 0 40px rgba(66, 133, 244, 0.6), 
    inset 0 0 20px rgba(66, 133, 244, 0.8);
    
  text-shadow: 0 0 10px #ffffff, 0 0 20px #4285F4, 0 0 30px #4285F4;
}

/* Neon Button */

/* Read */

.table-of-contents {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.747);
  padding: 30px;
  box-shadow: 
    0 0 30px rgba(255, 255, 255, 0.9);
}

.table-of-contents h2 {
  font-family: 'Beowulf Modern';
   display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 15px;
  letter-spacing: 2px;
  width: 90%;
}

.read-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0px;
  font-size: 2.0rem;
}

.table-of-contents ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.table-of-contents li {
  margin-bottom: 15px;
}

.table-of-contents a {
  font-family: 'Beowulf Modern';
  color: #ffffff;
  text-decoration: none;
  font-size: 2.0rem;
  transition: all 0.2s ease-in-out;
  display: block;
}

.table-of-contents a:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
}

/* Read */

/* Scrollbar in progress derp I can't see it for some reason

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.6); 
  border-left: 1px solid rgba(255, 255, 255, 0.1); 
}

::-webkit-scrollbar-thumb {
  background: #ff00ff; 
  border-radius: 10px; 
  border: 2px solid rgba(0, 0, 0, 0.6); 
}

::-webkit-scrollbar-thumb:hover {
  background: #ff4dff; 
}

/* Read */

/* Default browser behaviors being overrided */

/* Clears yellow filling of input fields */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #000000 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

/* Clears blue wrapping around active input fields */

.register-input input:focus, 
.login-input input:focus {
  outline: none; 
  border-color: #ff9cff;
  box-shadow: 
    0 0 15px rgba(255, 255, 255, 0.8), 
    0 0 30px #ff00ff, 
    inset 0 0 15px rgba(255, 0, 255, 0.4);
}