:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@font-face {
  font-family: 'Secret Midnight';
  src: url('/Fonts/secret-midnight.otf') format('truetype');
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  background-color: transparent;
  color: white;
  font-family: 'Secret Midnight';
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0;
}

button {
  border-radius: 30px;
  border: 30px solid transparent;
  padding: 10px;
  font-size: 4em;
  font-weight: 500;
  font-family: 'Secret Midnight';
  background-color: #74747477;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #000000b0;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.icon-button img {
  width: 24px; 
  height: 24px; 
  display: block; 
  filter: invert(100%); 
}

.icon-right {
  width: var(--button-size);
  height: var(--button-size);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.icon-right img {
  width: 20px;
  height: 20px;
  filter: invert(100%);
}

.app-wrapper {
  background-size: 100% 100%;
  background-position: center;
  background-attachment: fixed;

  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.bg-retro {
  background-image: url('/Images/Retro.png');
}

.bg-rocket {
  background-image: url('/Images/Rocket.jpg');
}